body {
  background-color: var(--main-bright-color);
}

header {
  width: 100%;
  position: relative;
  background-color: var(--main-brand-color);
  color: #333;
  min-height: 350px;
}

.container {
  /* position: relative;
  top: -318px; */
  display: grid;
  z-index: 10;

  padding: 0 120px;
  grid-template-rows: 20% 50% auto;
  grid-template-areas: "hd" "con" "qt";
}

.contents {
  width: 100%;
  grid-area: con;
  color: white;
  display: flex;
  flex-flow: row wrap;
  grid-gap: 10px;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--main-dark-color);
  height: 150px;
  color: white;
  padding: 20px;
}
.footer-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

/* card */
.card {
  width: 360px;
  height: 360px;
  display: grid;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.card:hover,
.cardsm:hover {
  box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.3);
}

.cardBio {
  border-radius: 10px;
  border: 1px solid #333;
  line-height: 1.8em;
  width: 300px;
  margin: 64px auto;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
}

.bioHeader h2 {
  margin-right: 30px;
}

#linkedin span {
  color: black;
  top: -8px;
  position: relative;
  margin-left: 7px;
}

/* profile image */
.profile img,
.cardBio img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: black;
}

/* nav area */
.navLink {
  display: flex;
  padding: 30px 0 0 30px;
  margin-left: auto;
}
.navLink div {
  list-style: none;
  width: 100px;
  height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: black;
  color: white;
  margin-left: auto;
}

.navWrapper {
  grid-area: hd;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}

.navLink a {
  color: white;
  text-decoration: none;
}

/* 2x2 card */
.fourcard {
  display: grid;
  grid-template-columns: repeat(2, 48.5%);
  grid-template-rows: repeat(2, 48.5%);
  column-gap: 10px;
  row-gap: 10px;
}
.cardsm {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px dotted var(--main-dark-color);
  border-radius: 12px;
}

#five-one,
#five-two,
#five-three,
#five-four {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 100px;
}

#five-one img,
#five-two img,
#five-three img,
#five-four img {
  width: 45px;
}

#five-three,
#five-four {
  position: relative;
  top: -20px;
}

#five-one {
  grid-area: 1/1/1/1;
}
#five-two {
  grid-area: 1/2/1/2;
}
#five-three {
  grid-area: 2/1/2/1;
}
#five-four {
  grid-area: 2/2/2/2;
}

/* quote in the main page */
#quotes {
  /* top: 150px; */
  padding: 140px 0;
  color: black;
  text-align: center;
  /* position: relative; */
  margin: 0 auto;
  grid-area: qt;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* quote content in the blog posts */
#quoteContent {
  text-align: center;
  position: relative;
  margin: 80px auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* blog post body contents */
.blog-paragraph {
  margin: 40px 0 40px 0;
  color: var(--main-dark-color);
}
.blog-paragraph:nth-child(1) {
  margin: 120px auto 30px auto;
}

.imgContents {
  margin: 40px auto;
}
/* social sharing button */
.socialBtn {
  display: flex;
  flex-flow: row nowrap;
}
.socialBtn ul {
  display: flex;
  margin-left: -59px;
}
.socialBtn li {
  list-style: none;
  margin-left: 15px;
}
.socialBtn li:nth-child(1) {
  margin-left: 20px;
}
