@media (min-width: 320px) {
  header {
    width: 100%;
  }

  .container {
    padding: 0;
    width: 360px;
  }

  .navWrapper {
    width: 100%;
    padding: 0;
  }
  .profile {
    margin: 0 auto;
  }
  .profile img {
    margin-left: 33px;
  }
  #quotes {
    width: 300px;
    font-size: 22px;
    line-height: 1.5em;
  }
  #four,
  #seven,
  .card {
    width: 360px;
    height: 360px;
    border-radius: 12px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }
  .cardsm {
    width: 175px;
    height: 175px;
    transition: all 0.4s ease-in-out;
  }
  footer {
    padding: 0;
  }

  .caption {
    width: 340px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .caption-longer {
    width: 340px;
    color: white;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .imgContents img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  #quoteContent {
    width: 74%;
  }
  .title {
    font-size: var(--font-h2);
  }
  .title,
  .bodyContents {
    padding: 0 10px;
  }
  .navLink {
    padding: 30px 0 0 17px;
  }
}

@media (min-width: 730px) {
  .container {
    padding: 0;
    width: 730px;
    margin: 0 auto;
  }
  .profile {
    /* margin: 0 310px; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .profile img {
    margin-left: 0;
  }

  #four,
  #seven,
  .card {
    width: 360px;
    height: 360px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }

  #quotes {
    width: 700px;
    font-size: 28px;
    line-height: 1.4em;
  }
  .bodyContents {
    width: 94%;
  }
  .imgContents img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }
  #quoteContent {
    width: 74%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
  .navWrapper {
    width: 1120px;
    margin: 32px auto;
  }
  .profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 2%;
  }
  .navLink {
    display: flex;
    padding-top: 30px;
    margin-left: auto;
  }
  .contents {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
  }
  #quotes {
    width: 920px;
    font-size: 42px;
    line-height: 1.8em;
  }
  #four,
  #seven {
    width: 99.87%;
  }
  .caption-longer {
    width: 710px;
    color: white;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .card {
    width: 360px;
    height: 360px;
    border-radius: 12px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }

  .caption {
    width: 340px;
  }
  .bodyContents {
    width: 74%;
  }
  .imgContents img {
    width: 900px;
    height: 500px;
    object-fit: cover;
  }
  #quoteContent {
    width: 74%;
  }
}
