@media (min-width: 320px) {
  header {
    width: 100%;
  }

  .container {
    padding: 0;
    width: 360px;
  }

  .navWrapper {
    width: 100%;
    padding: 0;
  }
  .profile {
    margin: 0 auto;
  }

  #quotes {
    width: 300px;
  }
  #four,
  #seven,
  .card {
    width: 360px;
    height: 360px;
    border-radius: 12px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }
  .cardsm {
    width: 175px;
    height: 175px;
  }
  footer {
    padding: 0;
  }
  .navLink {
    display: none;
  }
  .caption {
    width: 340px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}

@media (min-width: 730px) {
  .container {
    padding: 0;
    width: 730px;
    margin: 0 auto;
  }
  .profile {
    margin: 0 310px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #four,
  #seven,
  .card {
    width: 360px;
    height: 360px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }

  .caption-longer {
    width: 340px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  #quotes {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
  .navWrapper {
    width: 1120px;
    margin: 32px auto;
  }
  .profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 2%;
  }
  .navLink {
    display: flex;
    padding-top: 30px;
    margin-left: auto;
  }
  .contents {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
  }
  #quotes {
    width: 920px;
  }
  #four,
  #seven {
    width: 60.83%;
  }
  .caption-longer {
    width: 710px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .card {
    width: 360px;
    height: 360px;
    border-radius: 12px;
  }
  .fourcard {
    width: 360px;
    height: 360px;
  }

  .caption {
    width: 340px;
  }
}
